<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Map the Movie Folder</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

<table>
{% for a in data %}
   {% for b in a %}
        Name: {{b['Name']}}
        <br>
        Date: {{b['Date']}}
        <br>

        {% for key, value in b['Filmography'].items() %}

            {% for c in value %}
                Titolo: {{c['Title']}}
                <br>
                Year: {{c['Year']}}
                <br>
                Id: {{c['Id']}}
                <br>
                Present: {{c['Present']}}
                <br>
            {% endfor %}

{% endfor %}
    {% endfor %}
        {% endfor %}


</table>

   </body>
</html>
